{% extends 'remember/base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
    <h1 style="font-size:110px;color:DarkSlateGray;" class="font-weight-bold text-center">About</h1>
    <br>
    <br>
    <h4 style="DarkSlateGray;">Everyday life, daily life or routine life comprises the ways in which people typically
        act, think, and feel on a
        daily basis. Everyday life may be described as mundane, routine, natural, habitual, or normal. Human diurnality
        means most people sleep at least part of the night and are active in daytime. This website is created for you to
        maintain your daily activities. It created by Zim Al-Shahriar.</h4>
    <br>
    <br>
    <a href="https://zim7.pythonanywhere.com/" class="btn btn-info" target="_blank">About Zim Al-Shahriar</a>
</div>

{% endblock %}